<mat-tab-group mat-align-tabs="start" class="tab-group">
  <mat-tab label="PRÓXIMAS">
    <mat-progress-bar mode="indeterminate" *ngIf="!next"></mat-progress-bar>

    <div fxLayout="row" fxLayoutAlign="start center" class="flex-container" *ngIf="next">
      <ng-container class="container" *ngFor="let live of livesPrevious">
        <mat-card
          class="example-card mat-card-live"
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100% "
        >
          <mat-card-title class="mat-card-title-live">
            <div class="row">
              <p>
                <span
                  fxFlex="70"
                  flexLayoutAlign="start center"
                  class="large"
                  >{{ live.liveName }}</span
                >
                <span fxFlex></span>

                <mat-chip class="mat-chip-date" flexLayoutAlign="center center">
                  <span fxFlex="25" class="small"
                    >{{ live.liveDate | localDateTime
                    <!-- esse pipe adiciona a formatação desejada -->
                    }}</span
                  >
                </mat-chip>
              </p>

              <p>
                Canal: <span class="small"> {{ live.channelName }}</span>
              </p>
            </div>
          </mat-card-title>

          <mat-card-content flexLayoutAlign="center center">
            <div>
              <iframe
                width="560"
                height="315"
                [src]="live.urlSafe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="REALIZADAS">
    <mat-progress-bar mode="indeterminate" *ngIf="!previous"></mat-progress-bar>

    <div fxLayout="row" fxLayoutAlign="start center" class="flex-container" *ngIf="previous">
      <ng-container class="container" *ngFor="let live of livesNext">
        <mat-card
          class="example-card mat-card-live"
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100% "
        >
          <mat-card-title class="mat-card-title-live">
            <div class="row">
              <p>
                <span
                  fxFlex="70"
                  flexLayoutAlign="start center"
                  class="large"
                  >{{ live.liveName }}</span
                >
                <span fxFlex></span>
                <mat-chip class="mat-chip-date" flexLayoutAlign="center center">
                  <span fxFlex="25" class="small"
                    >{{ live.liveDate | localDateTime
                    <!-- esse pipe adiciona a formatação desejada -->
                    }}</span
                  >
                </mat-chip>
              </p>

              <p>
                Canal: <span class="small"> {{ live.channelName }}</span>
              </p>
            </div>
          </mat-card-title>

          <mat-card-content flexLayoutAlign="center center">
            <div>
              <iframe
                width="560"
                height="315"
                [src]="live.urlSafe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container></div
  ></mat-tab>
</mat-tab-group>
